/*all body elements*/
body{
  font-family:"Arial", Serif;
}
/*background Image*/
html{
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
/*AboutPage BackgroundImage*/
.comments-bg{
  background-image:url(nasa.png);
  background-repeat:none;
  background-size:cover;
  image-rendering:auto;
}
/*IndexPage BackgroundImage*/
.index-bg{
  background-image:url(redman.jpg);
  background-repeat:none;
  background-size:cover;
  image-rendering:auto;
}
/*UpdatePage BackgroundImage*/
.Update-bg{
  background-image:url(blackhat.jpg);
  background-repeat:none;
  background-size:cover;
  image-rendering:auto;
}



/*ImageOnAboutPAge*/
image{
  float:center;
  opacity:0.8;
}



/*color of text on page*/
h1{
  color:blue;
  font-size:20px;
  margin:0px;
  padding:0px;
}
h2{
  color:red;
  font-size:25px;
  margin:0px;
  padding:0px;
}
h3{
  color:gray;
  font-size:30px;
  margin:0px;
  padding:0px;
}
p{
  color:white;
  margin:0px;
  padding:0px;
}
b{
  color:#000066;
  font-size:18px;
}



/*Youtube Video*/
iframe{
  float:right;
}



/*Main navbar*/
.navbar{
  background-color:white;
  overflow:hidden;
  height:63px;
}
/*Main navbar Position&Color*/
.navbar a{
  float:left;
  display:block;
  color:red;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}
/*Main navbar list-style*/
.navbar ul{
  margin:8px 0 0 0;
  list-style-type:none;
}
/*Main navbar hover Color&Background*/
.navbar a:hover{
  background-color:black;
  text-decoration:none;
  color:red;
}
/*side navbar*/
.side-nav{
  height:100%;
  width:0;
  position: absolute;
  z-index:1;
  top:0;
  left:0;
  background-color:black;
  opacity:0.8;
  overflow-x:hidden;
  padding-top:60px;
  transition:1s;
}
/*side navbar links color*/
.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size: 22px;
  color:red;
  display:block;
  transition:1s;
  overflow:none;
}
/*side navbar hover*/
.side-nav a:hover{
  color:black;
  text-decoration:none;
  color:white;
}
/*side nav bar buttonclose*/
.side-nav .btn-close{
  position:absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
}



/*artcile links hover color*/
a:hover{
  color:blue;
  text-decoration:none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*artcile links styling*/
a:link{
  text-decoration:none;
}
/*Links color*/
a{
  color:red;
}

/*TextArea*/
comments{
  font-family:sans-serif;
  font-size:20px;

}



/*SubscribeForm*/
form {
  border: 10px solid #f1f1f1;
  width:50%;
  float:right;
  opacity:0.8;
  
}
/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
  background-color: #f1f1f1;
}
/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width:50%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0000FF;
  box-sizing: border-box;
}
/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}
/* Style the submit button */
input[type=submit] {
  background-color:#0000FF;
  color: #FF0000;
  border: none;
}
input[type=submit]:hover {
  opacity:0.5;
  background-color:#0000ff;
  color:#FF0000;
}



@media(max-width:px){
  .navbar-nav{display:none}
}
@media(max-width:568px){
.open-slide{display:none}
}
